.container-home {
    .carousel-item {
        display: flex;
    }
}
@media (max-width: 880px) {
    .container-home {}
}
@media (max-width: 480px) {
    .container-home {
        .carousel-item {
            background-color: aqua;
            display: none;
        }
    }
}