.carousel-root {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: -40px;
  background-image: url('../../images/pattern-bg.png');
  height: 100%;
  // background-size: contain;
  .carousel-item {
    bottom: 80px;
    position: relative;

    .carousel-item-content {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: bold;
      color: #000000;
      z-index: 1;

      h1 {
        font-size: 64px;
        font-weight: 700;
        width: 60px;
      }

      p {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
      }

      button {
        margin-top: 30px;
        background-color: orange;
        padding: 12px;
        border-radius: 20px;
      }
    }

    .description1 {
      // background-color: #ca1010;
      width: 70%;
      height: 80%;
      text-align: start;
      color: black;
      z-index: 1;
    }

    .description2 {

      width: 70%;
      height: 80%;
      text-align: end;
      color: rgb(0, 0, 0);
      z-index: 1;

    }

    .description3 {
      width: 70%;
      height: 70%;
      text-align: start;

      z-index: 1;
    }
  }

}

.carousel-slider {
  flex: 1;

}

.carousel .control-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  margin-bottom: 500px;
  bottom: 20px;
}

.carousel .control-dots .dot {
  width: 10px;
  height: 10px;
  margin: 20px 50px 0px 50px;
  border-radius: 50%;
  background-color: rgba(24, 23, 23, 0.5);
  box-shadow: none;

}

.carousel .control-dots .dot.selected {
  background-color: rgba(158, 14, 14, 0.9);
}

@media (max-width: 1110px) {
  .carousel-root {

    .carousel-item {
      display: flex;
      height: 100vh;

      // display: none;
      // background-color: aqua;
    }
  }
}

@media (max-width: 600px) {
  .carousel-root {
    .carousel-item {
      display: none;
      // background-color: aqua;
    }
  }
}